// Overrides of swiper.js classes https://swiperjs.com/swiper-api#css-styles

.comic-swiper {
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;

        @include media-breakpoint-up(lg) {
            justify-content: start;
            color: $white;
        }
    }

    .swiper-pagination-bullet {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        border-radius: $border-radius;
        width: 24px;
        height: 33px;
        background-color: $secondary-50;

        @include media-breakpoint-up(lg) {
            color: $white;
            padding: $spacer-5;
            margin: 0 0;
            border-radius: $border-radius;
            &:hover {
                background-color: $secondary;
            }
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $secondary;
        &:hover {
            background-color: $secondary;
        }
    }

    @include media-breakpoint-up(lg) {
        .swiper-pagination {
            bottom: $spacer-5 !important;
            left: $spacer-6 !important;
        }
    }
}
