// Overrides of swiper.js classes https://swiperjs.com/swiper-api#css-styles

.comic-swipper {
    .swiper {
        width: 70vw;
        height: 100%;
    }

    .swiper-slide {
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        background-color: $secondary-50;
    }

    .swiper-pagination-bullet-active {
        background-color: $secondary;
    }
}
