// overrides classes from @gausszhou/vue3-drag-resize-rotate

.handle-rot[data-v-3c286975]:before,
.handle-rot[data-v-3c286975]:after {
    content: none;
}

.handle-rot[data-v-3c286975]:after {
    cursor: grab;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('/rotate.svg');
    background-size: cover;
    color: $black-100;
    fill: $black-100;
}

:not(.handle-rot) {
    .handle-large {
        position: absolute;
        border: $border-width solid $black;
        height: 8px !important;
        width: 8px !important;
        margin: 12px !important;
        font-size: 1em;
        line-height: 1em;
        box-sizing: border-box;
        background-color: $white;

        &-tl {
            top: -16px !important;
            left: -16px !important;
            cursor: nw-resize;
            display: block;
        }

        &-tm {
            top: -16px !important;
            left: calc(50% - 16px) !important;
            cursor: n-resize;
            display: block;
        }

        &-tr {
            top: -16px !important;
            right: -16px !important;
            cursor: ne-resize;
            display: block;
        }

        &-mr {
            top: calc(50% - 16px) !important;
            right: -16px !important;
            cursor: e-resize;
            display: block;
        }

        &-br {
            right: -16px !important;
            bottom: -16px !important;
            cursor: se-resize;
            display: block;
        }

        &-bm {
            right: calc(50% - 16px) !important;
            bottom: -16px !important;
            cursor: s-resize;
            display: block;
        }

        &-bl {
            left: -16px !important;
            bottom: -16px !important;
            cursor: sw-resize;
            display: block;
        }

        &-ml {
            top: calc(50% - 16px) !important;
            left: -16px !important;
            cursor: w-resize;
            display: block;
        }
    }
}
